.plattformar{
    text-align: center;
    font-size: 150%
}

#instalogo{
    width: 10%;
    height: 10%;
}

#facelogo{
    width: 10%;
    height: 10%;
}
.mail{
    margin: 10px;
    color: black;
}